@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  --main-color:rgb(255, 187, 0);
  /* --cards-color:rgb(170, 170, 170); */
  --cards-color:#efefef;
  --cards-color-hover:#ddd;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  /* color: rgba(12, 3, 27, 0.7); */
  /* background: rgba(72, 12, 168, 0.1); */
  background: white;
  user-select: none;
}


