/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100vw;
  height: 88vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: white !important;
  /* border: 1px solid rgba(47, 41, 41, 0.776); */
}


.swiper-slide {
  display: flex;
  /* border: 2px solid red; */
  position: relative;
  /* height: 100vh; */
  /* z-index: 1; */
  /* background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.6)); */
}

.swiper-slide div {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
  z-index: 2;
  top: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* background-image: linear-gradient(black, pink), url(../images/Climatización.jpg); */
}

.swiper-slide p {
  display: flex;
  text-align: left;
  /* background: orange; */
  /* border: 2px solid black; */
  height: 8rem;
  width: 20rem;
  /* color: black; */
  z-index: 2;
  position: absolute;
  top: 14rem;
  left: 11rem;
  /* top: -15rem; */
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.swiper-slide:nth-child(2) p {
  width: 40rem;
}
.swiper-slide:nth-child(3) p {
  width: 35rem;
}
.swiper-slide:nth-child(4) p {
  width: 35rem;
}
.swiper-slide:nth-child(5) p {
  width: 35rem;
  top: 17rem;
}
.swiper-slide:nth-child(6) p {
  width: 35%;
  top: 17rem;
}
.swiper-slide:nth-child(7) p {
  width: 35%;
  top: 17rem;
}

.swiper-wrapper div button {
  /* border: 2px solid black; */
  background-color:var(--main-color);
  color: white;
  z-index: 2;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 5%;
  
  position: absolute;
  /* top: 53%; */
  /* left: 16%; */
  top: 21rem;
  left: 11rem;
}

/* =========== MEDIA QUERIES =============== */
@media screen and (max-width:1024px) {
  /* .swiper {
    height: 80vh !important;
    width: 100vw;
  } */
  .swiper-slide p {
    font-size: 2rem;
    width: 25rem;
    top: 13rem;
  }
  .swiper-slide:nth-child(2) p,
  .swiper-slide:nth-child(3) p,
  .swiper-slide:nth-child(4) p {
    top: 13rem;
    width: 35rem;
  }
  .swiper-slide:nth-child(5) p,
  .swiper-slide:nth-child(6) p,
  .swiper-slide:nth-child(7) p {
    width: 35rem;
    top: 16rem;
  }
  .swiper-slide button {
    top: 18rem;
  }


}



@media screen and (max-width:920px) {
  #nav__items {
    display: none;
    flex-direction: column;
    position: relative;
    /* top: 11.78rem; */
    top: 11.78rem;
    right: -33%;
    z-index: 9;
    height: 20rem;
    width: 12rem;
    gap: 0;
    background: white;
    border-radius: 10px;
  }
  #nav__items li {
    width: 100%;
    padding: .5rem 1rem;
  }
  #nav__items li a {
    color: black;
  }
  #open__nav-btn {
    display: flex;
  }
  #close__nav-btn {
    display: none;
  }


  /* .swiper { */
    /* height: 60%; */
    /* width: 20%; */
  /* } */
  .swiper-slide img {
    max-height: 100%;
  }
  .swiper-slide p {
    font-size: 2rem;
    width: 20rem;
    top: 35%;
    left: 15%;
  }
  .swiper-slide:nth-child(2) p {
    top: 35%;
    width: 65%;
  }
  .swiper-slide:nth-child(3) p,
  .swiper-slide:nth-child(4) p {
    top: 35%;
    width: 65%;
  }
  .swiper-slide:nth-child(5) p,
  .swiper-slide:nth-child(6) p,
  .swiper-slide:nth-child(7) p {
    top: 39%;
    width: 65%;
  }
  
  .swiper-slide button {
    top: 47% !important;
    left: 15%!important;
  }
}



@media screen and (max-width:600px) {

  #nav__items {
    display: none;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    top: 11.7rem;
    /* right: -5.8rem; */
    /* left: 4.1rem; */
    right: -5.1rem;
    z-index: 9;
    height: 20rem;
    width: 12rem;
    gap: 0;
    background: white;
    border-radius: 10px;
  }
  #nav__items li {
    justify-content: center;
  }

  
  .swiper {
    height: 35vh;
    /* width: 20%; */
  }
  .swiper-slide img {
    max-height: 100%;
  }
  .swiper-slide p {
    font-size: 1.3rem;
    width: 15rem;
    top: 4rem;
    left: 2rem;
  }
  .swiper-slide:nth-child(2) p {
    top: 2rem;
    width: 80%;
  }
  .swiper-slide:nth-child(3) p,
  .swiper-slide:nth-child(4) p {
    top: 4rem;
    width: 20rem;
  }
  .swiper-slide:nth-child(5) p,
  .swiper-slide:nth-child(6) p,
  .swiper-slide:nth-child(7) p {
    top: 6rem;
    width: 20rem;
  }
 
  .swiper-slide button {
    top: 9rem !important;
    left: 2rem !important;
  }
}