#whatsButton {
  display: flex;
  place-items: center;
  /* width: 5rem;
  height: 5rem; */
  /* font-size: .9rem; */
  /* font-weight: 500; */
  /* background: transparent; */
  position: fixed;
  /* top: 0; */
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 9;
}

.whatsButton__container .bxl-whatsapp::before {
  font-size: 3rem;
  color: white;
  background: #65D072;
  border-radius: 50%;
  padding: .3rem;
  box-shadow: 5px 5px 2rem rgba(0, 0, 0, .5), -5px -5px 10rem rgba(0, 0, 0, 0.5);
  /* z-index: 10; */
}
.whatsButton__container .bxl-whatsapp::after {
  content: "";
  background: black;
}

.whatsButton__container .bxl-whatsapp:hover::before {
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes anim {
  from {background-color: rgb(98, 201, 110);}
  to {background-color: rgb(53, 86, 51);}

}